
body {
  background-color: yellow;
}

.menu-container{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 list-style: none;
}

@media only screen and (max-width: 600px) {
  body {                        
    background-color: lightblue;
       }

    .menu-container{
        flex-direction: column;
    }
  }
}


